{% extends "Base.html" %}

{% block titulo %} Cetys Universidad  {% endblock titulo %}

{% block contenido %}
<div class = "input-control text" style="height:8%;width:100%;">
    <input type = "text" placeholder="Ingrese el nombre del salón" id ="Search" style="height:100%;width:100%;font-size:100%"/>
    <button class="btn-search" onclick="func()"></button>
{% for s in salon%}
<a href="{{s.NAME}}+{{s.RP}}+{{s.X}}+{{s.Y}}">{{s.NAME}}</a><br>
{% empty %}

{% endfor %}
<br><br>
Seleccione el punto más cercano a su ubicación
<br><br>
<div style="height:88%;width:100%;" id="pointer_div" onclick="point_it(event)">
    <img id="map" src = "{{STATIC_URL}}img/croquisCetysNames.png" style="display:none;height:100%;width:100%;"></img>
<canvas id="myCanvas" width="1500" height="1000"></canvas>
<script>

var c=document.getElementById("myCanvas");
c.width = screen.width-15;
c.height = screen.width*465/563;
var ctx=c.getContext("2d");
var image2 = new Image();
image2.src = "{{STATIC_URL}}img/croquisCetysNames.png";
ctx.drawImage(image2,0,0,screen.width-15,screen.width*465/563);
</script>

<script language="JavaScript">
var markerXTop = 0;
var markerXBot = 0;
var markerYTop = 0;
var markerYBot = 0;

function func()
{
    var search = document.getElementById("Search").value;
    //alert(search);
    window.location.href=search;
    
}
function marker()
{
        markerXTop = "{{X}}";
        markerYTop = "{{Y}}";
        markerXBot = parseInt(markerXTop) + 19*screen.width/563;
        markerYBot = parseInt(markerYTop) + 42*screen.width/563;
        ctx.clearRect(0, 0, c.width, c.height);
        var image2 = new Image();
        image2.src = "{{STATIC_URL}}img/croquisCetysNames.png";
        ctx.drawImage(image2,0,0,screen.width-15,screen.width*465/563);
        var image3 = new Image();
        image3.src = "{{STATIC_URL}}img/marker.png";
        ctx.drawImage(image3,markerXTop*screen.width/563,markerYTop*screen.width/563,17*screen.width/563,40*screen.width/563);
        ctx.lineWidth="5";
        ctx.strokeStyle="blue";
        ctx.beginPath(); 
}
function point_it(event){
    pos_x = event.offsetX?(event.offsetX):event.pageX-document.getElementById("pointer_div").offsetLeft;
    pos_y = event.offsetY?(event.offsetY):event.pageY-document.getElementById("pointer_div").offsetTop;
    document.getElementById("map").style.left = (pos_x-1) ;
    document.getElementById("map").style.top = (pos_y-15) ;
    document.getElementById("map").style.visibility = "visible" ;

    pos_x = pos_x * 563 / screen.width;
    pos_y = pos_y * 563 / screen.width;
    var rp = "{{RP}}";
    if(rp=="")
    {
        return;
    }
    var c=document.getElementById("myCanvas");
	var ctx=c.getContext("2d");
	ctx.save();
    if(pos_x>markerXTop && pos_x<markerXBot && pos_y>markerYTop && pos_y<markerYBot)
    {
            var roomNumber="{{numero}}";
            window.location.href="Classroom/"+roomNumber+"+{{RP}}+{{X}}+{{Y}}";
    }
    if(pos_x>20 && pos_x<100 && pos_y>40 && pos_y<100)
    {
    	//alert('Estacionamiento Gimnasio');
        marker();
        if( rp == "2")
        { 
        rutas1_2(ctx,screen);
        }
        if( rp == "3")
        { 
        rutas1_3(ctx,screen);
        }
        if( rp == "4")
        { 
        rutas1_4(ctx,screen);
        }
        if( rp == "5")
        {
        rutas1_5(ctx,screen);
        }
        if( rp == "6")
        { 
        rutas1_6(ctx,screen);
        }
        if( rp == "7")
        { 
        rutas1_7(ctx,screen);
        }
        if( rp == "8")
        { 
        rutas1_8(ctx,screen);
        }
        if( rp == "9")
        { 
        rutas1_9(ctx,screen);
        }
        if( rp == "10")
        { 
        rutas1_10(ctx,screen);
        }
        if( rp == "11")
        { 
        rutas1_11(ctx,screen);
        }
        
        ctx.stroke();
        
    }
    if(pos_x>115 && pos_x<185 && pos_y>40 && pos_y<100)
    {
    	//alert('Estacionamiento Estadio');
        marker(); 

        if( rp == "1")
        { 
        rutas2_1(ctx,screen);
        }
        if( rp == "3")
        { 
        rutas2_3(ctx,screen);
        }
        if( rp == "4")
        { 
        rutas2_4(ctx,screen);
        }
        if( rp == "5")
        {
        rutas2_5(ctx,screen);
        }
        if( rp == "6")
        { 
        rutas2_6(ctx,screen);
        }
        if( rp == "7")
        { 
        rutas2_7(ctx,screen);
        }
        if( rp == "8")
        { 
        rutas2_8(ctx,screen);
        }
        if( rp == "9")
        { 
        rutas2_9(ctx,screen);
        }
        if( rp == "10")
        { 
        rutas2_10(ctx,screen);
        }
        if( rp == "11")
        { 
        rutas2_11(ctx,screen);
        }

		ctx.stroke();
        
    }
    if(pos_x>88 && pos_x<190 && pos_y>354 && pos_y<440)
    {
    	//alert('Estacionamiento Case');
        marker();

        if( rp == "1")
        { 
        rutas6_1(ctx,screen);
        }
        if( rp == "2")
        { 
        rutas6_2(ctx,screen);
        }
        if( rp == "3")
        { 
        rutas6_3(ctx,screen);
        }
        if( rp == "4")
        { 
        rutas6_4(ctx,screen);
        }
        if( rp == "5")
        {
        rutas6_5(ctx,screen);
        }
        if( rp == "7")
        { 
        rutas6_7(ctx,screen);
        }
        if( rp == "8")
        { 
        rutas6_8(ctx,screen);
        }
        if( rp == "9")
        { 
        rutas6_9(ctx,screen);
        }
        if( rp == "10")
        { 
        rutas6_10(ctx,screen);
        }
        if( rp == "11")
        { 
        rutas6_11(ctx,screen);
        }
        
        ctx.stroke();

    }
    if(pos_x>212 && pos_x<343 && pos_y>385 && pos_y<443)
    {
    	//alert('Estacionamiento Auditorio');
        marker();
 
        if( rp == "1")
        { 
        rutas7_1(ctx,screen);
        }
        if( rp == "2")
        { 
        rutas7_2(ctx,screen);
        }
        if( rp == "3")
        { 
        rutas7_3(ctx,screen);
        }
        if( rp == "4")
        { 
        rutas7_4(ctx,screen);
        }
        if( rp == "5")
        {
        rutas7_5(ctx,screen);
        }
        if( rp == "6")
        { 
        rutas7_6(ctx,screen);
        }
        if( rp == "8")
        { 
        rutas7_8(ctx,screen);
        }
        if( rp == "9")
        { 
        rutas7_9(ctx,screen);
        }
        if( rp == "10")
        { 
        rutas7_10(ctx,screen);
        }
        if( rp == "11")
        { 
        rutas7_11(ctx,screen);
        }

		ctx.stroke();
		
		
    }
    if(pos_x>462 && pos_x<540 && pos_y>406 && pos_y<446)
    {
    	//alert('Estacionamiento Centro de Idiomas');
        marker();

        if( rp == "1")
        { 
        rutas11_1(ctx,screen);
        }
        if( rp == "2")
        { 
        rutas11_2(ctx,screen);
        }
        if( rp == "3")
        { 
        rutas11_3(ctx,screen);
        }
        if( rp == "4")
        { 
        rutas11_4(ctx,screen);
        }
        if( rp == "5")
        {
        rutas11_5(ctx,screen);
        }
        if( rp == "6")
        { 
        rutas11_6(ctx,screen);
        }
        if( rp == "7")
        { 
        rutas11_7(ctx,screen);
        }
        if( rp == "8")
        { 
        rutas11_8(ctx,screen);
        }
        if( rp == "9")
        { 
        rutas11_9(ctx,screen);
        }
        if( rp == "10")
        { 
        rutas11_10(ctx,screen);
        }
        ctx.stroke();

    }
    if(pos_x>228 && pos_x<294 && pos_y>156 && pos_y<229)
    {
    	//alert('Aulas Moviles');
        marker();
        if( rp == "1")
        { 
        rutas3_1(ctx,screen);
        }
        if( rp == "2")
        { 
        rutas3_2(ctx,screen);
        }
        if( rp == "4")
        { 
        rutas3_4(ctx,screen);
        }
        if( rp == "5")
        {
        rutas3_5(ctx,screen);
        }
        if( rp == "6")
        { 
        rutas3_6(ctx,screen);
        }
        if( rp == "7")
        { 
        rutas3_7(ctx,screen);
        }
        if( rp == "8")
        { 
        rutas3_8(ctx,screen);
        }
        if( rp == "9")
        { 
        rutas3_9(ctx,screen);
        }
        if( rp == "10")
        { 
        rutas3_10(ctx,screen);
        }
        if( rp == "11")
        { 
        rutas3_11(ctx,screen);
        }



        


        ctx.stroke();
    }   
    if(pos_x>202 && pos_x<238 && pos_y>264 && pos_y<311)
    {
    	//alert('Biblioteca');
        marker();

        if( rp == "1")
        { 
        rutas4_1(ctx,screen);
        }
        if( rp == "2")
        { 
        rutas4_2(ctx,screen);
        }
        if( rp == "3")
        { 
        rutas4_3(ctx,screen);
        }
        if( rp == "5")
        {
        rutas4_5(ctx,screen);
        }
        if( rp == "6")
        { 
        rutas4_6(ctx,screen);
        }
        if( rp == "7")
        { 
        rutas4_7(ctx,screen);
        }
        if( rp == "8")
        { 
        rutas4_8(ctx,screen);
        }
        if( rp == "9")
        { 
        rutas4_9(ctx,screen);
        }
        if( rp == "10")
        { 
        rutas4_10(ctx,screen);
        }
        if( rp == "11")
        { 
        rutas4_11(ctx,screen);
        }

        

        ctx.stroke();
    }
    if(pos_x>310 && pos_x<375 && pos_y>356 && pos_y<385)
    {
    	//alert('Edificio Licenciatura');
        marker();

        if( rp == "1")
        { 
        rutas8_1(ctx,screen);
        }
        if( rp == "2")
        { 
        rutas8_2(ctx,screen);
        }
        if( rp == "3")
        { 
        rutas8_3(ctx,screen);
        }
        if( rp == "4")
        { 
        rutas8_4(ctx,screen);
        }
        if( rp == "5")
        {
        rutas8_5(ctx,screen);
        }
        if( rp == "6")
        { 
        rutas8_6(ctx,screen);
        }
        if( rp == "7")
        { 
        rutas8_7(ctx,screen);
        }
        if( rp == "9")
        { 
        rutas8_9(ctx,screen);
        }
        if( rp == "10")
        { 
        rutas8_10(ctx,screen);
        }
        if( rp == "11")
        { 
        rutas8_11(ctx,screen);
        }

        ctx.stroke();
    }
    if(pos_x>408 && pos_x<448 && pos_y>328 && pos_y<358)
    {
    	//alert('CAT');
        marker(); 

        if( rp == "1")
        { 
        rutas9_1(ctx,screen);
        }
        if( rp == "2")
        { 
        rutas9_2(ctx,screen);
        }
        if( rp == "3")
        { 
        rutas9_3(ctx,screen);
        }
        if( rp == "4")
        { 
        rutas9_4(ctx,screen);
        }
        if( rp == "5")
        {
        rutas9_5(ctx,screen);
        }
        if( rp == "6")
        { 
        rutas9_6(ctx,screen);
        }
        if( rp == "7")
        { 
        rutas9_7(ctx,screen);
        }
        if( rp == "8")
        { 
        rutas9_8(ctx,screen);
        }
        if( rp == "10")
        { 
        rutas9_10(ctx,screen);
        }
        if( rp == "11")
        { 
        rutas9_11(ctx,screen);
        }

        ctx.stroke();
    }
    if(pos_x>300 && pos_x<344 && pos_y>272 && pos_y<305)
    {
    	//alert('Salas');
        marker();

        if( rp == "1")
        { 
        rutas5_1(ctx,screen);
        }
        if( rp == "2")
        { 
        rutas5_2(ctx,screen);
        }
        if( rp == "3")
        { 
        rutas5_3(ctx,screen);
        }
        if( rp == "4")
        { 
        rutas5_4(ctx,screen);
        }
        if( rp == "6")
        { 
        rutas5_6(ctx,screen);
        }
        if( rp == "7")
        { 
        rutas5_7(ctx,screen);
        }
        if( rp == "8")
        { 
        rutas5_8(ctx,screen);
        }
        if( rp == "9")
        { 
        rutas5_9(ctx,screen);
        }
        if( rp == "10")
        { 
        rutas5_10(ctx,screen);
        }
        if( rp == "11")
        { 
        rutas5_11(ctx,screen);
        }


 

        ctx.stroke();
    }
    if(pos_x>453 && pos_x<539 && pos_y>363 && pos_y<396)
    {
    	//alert('Centro de idiomas');
        marker();



       if( rp == "1")
        { 
        rutas10_1(ctx,screen);
        }
        if( rp == "2")
        { 
        rutas10_2(ctx,screen);
        }
        if( rp == "3")
        { 
        rutas10_3(ctx,screen);
        }
        if( rp == "4")
        { 
        rutas10_4(ctx,screen);
        }
        if( rp == "5")
        {
        rutas10_5(ctx,screen);
        }
        if( rp == "6")
        { 
        rutas10_6(ctx,screen);
        }
        if( rp == "7")
        { 
        rutas10_7(ctx,screen);
        }
        if( rp == "8")
        { 
        rutas10_8(ctx,screen);
        }
        if( rp == "9")
        { 
        rutas10_9(ctx,screen);
        }
        if( rp == "11")
        { 
        rutas10_11(ctx,screen);
        }
        ctx.stroke();

  
    }
    //alert("posx"+pos_x+","+"posy"+pos_y)
}
</script>
</div>
{% endblock contenido %}
