{% extends "Base.html" %}

{% block titulo %} Cetys Universidad  {% endblock titulo %}

{% block contenido %}
<div class = "input-control text" style="height:4%;width:100%;">
    <input type = "text" placeholder="Search" id ="Search" style="height:100%;width:100%;font-size:100%"/>
    <button class="btn-search"></button>

<br><br>
<div style="height:88%;width:100%;" id="pointer_div" onclick="point_it(event)">
    <img id="map" src = "{{STATIC_URL}}img/croquisCetys.png" style="display:none;height:100%;width:100%;"></img>
<canvas id="myCanvas" width="1500" height="1000"></canvas>
<script>

var c=document.getElementById("myCanvas");
c.width = screen.width-15;
c.height = screen.width*465/563;
var ctx=c.getContext("2d");
var image2 = new Image();
image2.src = "{{STATIC_URL}}img/croquisCetys.png";
ctx.drawImage(image2,0,0,screen.width-15,screen.width*465/563);
</script>

<script language="JavaScript">

function point_it(event){
    pos_x = event.offsetX?(event.offsetX):event.pageX-document.getElementById("pointer_div").offsetLeft;
    pos_y = event.offsetY?(event.offsetY):event.pageY-document.getElementById("pointer_div").offsetTop;
    document.getElementById("map").style.left = (pos_x-1) ;
    document.getElementById("map").style.top = (pos_y-15) ;
    document.getElementById("map").style.visibility = "visible" ;

    pos_x = pos_x * 563 / screen.width;
    pos_y = pos_y * 563 / screen.width;

    var c=document.getElementById("myCanvas");
	var ctx=c.getContext("2d");
	ctx.save();

    if(pos_x>20 && pos_x<100 && pos_y>40 && pos_y<100)
    {
    	//alert('Estacionamiento Gimnasio');
    }
    if(pos_x>115 && pos_x<185 && pos_y>40 && pos_y<100)
    {
    	//alert('Estacionamiento Estadio');
    	var image2 = new Image();
		image2.src = "{{STATIC_URL}}img/croquisCetys.png";
		ctx.drawImage(image2,0,0,screen.width-15,screen.width*465/563);
        var image3 = new Image();
        image3.src = "{{STATIC_URL}}img/marker.png";
        ctx.drawImage(image3,268*screen.width/563,156*screen.width/563,30,70);
		var x1=147*screen.width/563;
		var x2=243*screen.width/563;
		var y1=67*screen.width/563;
		var y2=190*screen.width/563;
		ctx.lineWidth="3";
		ctx.strokeStyle="green";
		ctx.beginPath(); 
		ctx.moveTo(x1,y1);
		ctx.lineTo(x2,y2);
		ctx.stroke();
        
    }
    if(pos_x>88 && pos_x<190 && pos_y>354 && pos_y<440)
    {
    	//alert('Estacionamiento Case');
    }
    if(pos_x>212 && pos_x<343 && pos_y>385 && pos_y<443)
    {
    	//alert('Estacionamiento Auditorio');

    	ctx.clearRect(0, 0, c.width, c.height);
    	var image2 = new Image();
		image2.src = "{{STATIC_URL}}img/croquisCetys.png";
		ctx.drawImage(image2,0,0,screen.width-15,screen.width*465/563);
		var image3 = new Image();
        image3.src = "{{STATIC_URL}}img/marker.png";
        ctx.drawImage(image3,268*screen.width/563,156*screen.width/563,30,70);
		
		
		var x1=281*screen.width/563;
		var x2=243*screen.width/563;
		var y1=404*screen.width/563;
		var y2=190*screen.width/563;
		ctx.beginPath(); 
		ctx.moveTo(x1,y1);
		ctx.lineTo(x2,y2);
		ctx.stroke();
		
		
    }
    if(pos_x>462 && pos_x<540 && pos_y>406 && pos_y<446)
    {
    	//alert('Estacionamiento Centro de Idiomas');
    }
    if(pos_x>228 && pos_x<294 && pos_y>156 && pos_y<229)
    {
    	//alert('Aulas Moviles');
    }   
    if(pos_x>202 && pos_x<238 && pos_y>264 && pos_y<311)
    {
    	//alert('Biblioteca');
    }
    if(pos_x>310 && pos_x<375 && pos_y>356 && pos_y<385)
    {
    	//alert('Edificio Licenciatura');
    }
    if(pos_x>408 && pos_x<448 && pos_y>328 && pos_y<358)
    {
    	//alert('CAT');
    }
    if(pos_x>300 && pos_x<344 && pos_y>272 && pos_y<305)
    {
    	//alert('Salas');
    }
    if(pos_x>453 && pos_x<539 && pos_y>363 && pos_y<396)
    {
    	//alert('Centro de idiomas');
    }
    //alert("posx"+pos_x+","+"posy"+pos_y)
}
</script>
</div>
{% endblock contenido %}
